.headerText{

color: white;
font-size: 30px;
text-align: center;
font-family: 'Lato', sans-serif;

    
}

h2{

font-family: 'Lato', sans-serif;

}

.searchBar{

padding: 20px;
font-family: 'Lato', sans-serif;

}

.jumbotron{

background-color: dodgerblue;

}

